<div class="container">
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Date</th>
                <th scope="col">StudentID</th>
                <th scope="col">FullName</th>
                <th scope="col">Time</th>
                <th scope="col">Match %</th>
                <th scope="col">Room #</th>
                <th scope="col">IP Address</th>
                <th scope="col">Mac Address</th>
                <th scope="col">Pass</th>

            </tr>
        </thead>
        <tbody>
            <!--Displaying all the Logging Data, adding pagination and highlighting succesfull attempts in green and failed attempts in red-->
            <tr *ngFor="let item of body | paginate: { itemsPerPage: 10, currentPage: p }"
                [ngClass]="{'table-success': item.Pass === 1, 'table-danger': item.Pass === 0}">
                <td scope="row">{{item.Date}}</td>
                <td scope="row">{{item.StudentId }}</td>
                <td scope="row">{{item.FullName}}</td>
                <td scope="row">{{item.Time }}</td>
                <td scope="row">{{item.Match }}</td>
                <td scope="row">AWAITING DATA</td>
                <td scope="row">AWAITING DATA</td>
                <td scope="row">AWAITING DATA</td>
                <td scope="row" [ngClass]="{'pass': item.Pass === 1, 'fail': item.Pass === 0}">
                    {{item.Pass === 1 ? '✔️' : '❌'}}
                </td>

            </tr>
        </tbody>
    </table>

    <pagination-controls (pageChange)="p = $event" style="text-align: center;"></pagination-controls>
</div>


